<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Snake Case</title>
  <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css"/>
  <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
</head>
<style>
  canvas {
    border-width: 5px;
    border-color: red;
    margin: 25px;
  }

  button {
    background-color: #008CBA;
    color: white;
    padding: 10px;
  }
</style>
<body>
<h2>The Snake Case</h2>
<button id="start" type="button">Start Game</button>
<div id="status"></div>
<h2 id="score">Score: 0</h2>
Game Speed: <input id="speed-input" type="number" min="0.5" max="5" step="0.5" value="1" size="4">
<!-- <button id="start" type="button" pysB-onClick="run_game">Start Game</button> -->
<canvas id="gameCanvas" width="1200" height="600"></canvas>
<!--<button id="restart" value="True" title="restart" pys-onClick="restart_game">restart</button>-->

<py-env>
  - paths:
    - /src/models.py
    - /src/constants.py
  </py-env>

<py-script>
  from js import document
  from pyodide import create_proxy
  from models import *
  from constants import *

  snakeboard: Element = document.getElementById("gameCanvas")
  snakeboard_ctx = snakeboard.getContext("2d")

  def set_score(score):
    score_element = document.getElementById('score')
    score_element.innerText = f'Score: {score}'

  game = GameBoard(snakeboard, snakeboard_ctx)
  
  async def run_game(speed: float = 1):
    if not game.is_running:
        game.start_game() 
        pyscript.write('status', 'Game running... good luck!')
    
        while game.is_running:
          print(game.snake)
          game.draw_snake()
          game.draw_food()

          await asyncio.sleep(speed)

          game.move_snake()
          set_score(game.get_score())
          if game.has_ended():
              game.is_running = False
              print('Game Over')
              pyscript.write('status', f'Game over! Your score was {game.get_score()}')

  async def handle_start_game(*args, **kwargs):
    speed = 1/float(document.getElementById('speed-input').value)
    await run_game(speed)

  def get_direction(event) -> dict:
    if event.keyCode in LEFT_KEYS and game.current_direction != DIRECTIONS['right']:
      game.next_direction = DIRECTIONS['left']
    elif event.keyCode in RIGHT_KEYS and game.current_direction != DIRECTIONS['left']:
      game.next_direction = DIRECTIONS['right']
    elif event.keyCode in UP_KEYS and game.current_direction != DIRECTIONS['down']:
      game.next_direction = DIRECTIONS['up']
    elif event.keyCode in DOWN_KEYS and game.current_direction != DIRECTIONS['up']:
      game.next_direction = DIRECTIONS['down']

  startButton = document.getElementById('start')
  document.addEventListener('keydown', create_proxy(get_direction))
  startButton.addEventListener('click', create_proxy(handle_start_game))

</py-script>
</body>
</html>
